.text-small {
    font-family: monospace;
    font-size: 14;
}

.text-medium {
    font-family: monospace;
    font-size: 24;
}

.text-large {
    font-family: monospace;
    font-size: 36;
}

.text-title {
    font-family: serif;
    font-size: 96;
    text-align: center;
}

.input-text {
    background-color: black;
    color: white;
    border: 2px solid;
    border-color: white;
    font-family: monospace;
    font-size: 14;
    padding: 5px 5px;
}

.button {
    background-color: black;
    color: white;
    border: 2px solid;
    border-color: white;
    font-family: monospace;
    font-size: 14;
    padding: 5px 35px;
}
.button:enabled:hover {
    background-color: rgb(64, 64, 64);
}
.button:enabled:active {
    background-color: white;
    color: black;
}

.img-character {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    margin: 0px 5px;
}
.img-item {
    width: 48px;
    height: 48px;
    border: 2px solid white;
    margin: 0px 5px;
}